body {
    /* font-family: 'Yeon Sung', cursive; */
    font-family: Helvetica;
    background-color: #fff4e1;
}
.hidden {
    display: none;
}
.login-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    position: relative;
    height: 70px;
    padding: 0 20px;
}
header .mypage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 20px;
}
main {
    padding: 0 20px;
}
.todo-wrap .greeting {
    margin-bottom: 10px;
} 
.todo-wrap .tit {
    position: relative;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
}
.todo-wrap .date {
    display: inline-block;
    color: #FEC574;
    font-weight: bold;
    margin-bottom: 15px;
}
.todo-wrap .todo-form {
    margin-bottom: 20px;
}
.todo-wrap .todo-form input {
    padding: 5px 30px;
    /* border: none; */
    border-radius: 5px;
    text-align: center;
}
.todo-wrap .todo-form input::placeholder {
    color: #bbb;
}
.todo-wrap .todo-list li {
    padding: 20px 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #FEC574;
}
.todo-wrap .todo-list li span {
    font-weight: bold;
    vertical-align: middle;
}
.todo-wrap .todo-list li strong {
    margin: 0 10px 0 15px;
}
.todo-wrap .todo-list li button {
    padding: 0;
    border: none;
    background-color: transparent;
}